<h1 mat-dialog-title>Flasche {{ data.exist ? 'bearbeiten' : 'erstellen' }}</h1>
<div class="content" mat-dialog-content>
    <mat-form-field appearance="fill">
        <mat-label>Laufnummer</mat-label>
        <input type="number" matInput [(ngModel)]="data.flasche.laufnummer">
    </mat-form-field>
    <mat-form-field appearance="fill">
        <mat-label>Barcode</mat-label>
        <input type="number" matInput [(ngModel)]="data.flasche.barcode">
    </mat-form-field>
    <mat-form-field appearance="fill">
        <mat-label>Druck</mat-label>
        <mat-select [(ngModel)]="data.flasche.druck">
            <mat-option [value]="200">200 Bar</mat-option>
            <mat-option [value]="300">300 Bar</mat-option>
        </mat-select>
    </mat-form-field>
    <mat-form-field appearance="fill">
        <mat-label>Notizen</mat-label>
        <textarea matInput [(ngModel)]="data.flasche.notes"></textarea>
    </mat-form-field>
</div>
<div mat-dialog-actions>
    <button mat-button (click)="close()">Abbrechen</button>
    <button mat-button (click)="save()" cdkFocusInitial>Speichern</button>
</div>
