:host{
    padding: 2em;
    display: block;
}

.content {
    display: flex;
    flex-direction: column;
}

.confirm,
.close {
    color: #fff;
    padding: 1em;
}

.confirm {
    background-color: green;
    font-size: 2.5em;
    margin-bottom: 20px;
}

.close {
    background-color: #d2232a;
    font-size: 1.35em;
}
