:host {
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    padding: 20px;
    overflow: auto;
}

mat-expansion-panel {
    width: 100%;
    margin-bottom: 20px;

    mat-expansion-panel-header {
        height: 60px;

        mat-panel-title {
            width: 30%;
            align-items: center;
        }

        mat-panel-description {
            align-items: center;
            width: 70%;
        }
    }

    .content {
        display: flex;
        flex-direction: column;

        h3 {
            margin-top: 1.5em;
            margin-bottom: 0.3em;
        }

        table {
            border-collapse: collapse;
            width: 100%;

            tr {
                border: 2px #fff solid;

                th {
                    border-right: 2px #fff solid;
                }

                th,
                td {
                    line-height: 1;
                    width: 50%;
                    text-align: left;
                    padding: 1.2em 1.4em;
                    background-color: #f4f4f4;
                }
            }
        }
    }
}
