:host {
    display: flex;
    height: 100%;
    width: 100%;
    box-sizing: border-box;
}

::ng-deep .mat-expansion-panel-content {
    overflow: auto !important;
    height: 100%;
}

.fuellpersonal,
.feuerwehren {
    position: relative;
    display: block;
    padding: 20px;
    box-sizing: border-box;
    height: 100%;
    overflow: auto;
}

.fuellpersonal {
    width: 35%;

    .personToAdd {
        display: block;

        .textfields {
            display: flex;
            flex: row;
            justify-content: space-between;

            mat-form-field {
                width: 48%;
            }
        }
    }

    .person {
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        span {
            display: inline-flex;
            align-items: center;
        }

        .buttons {
            button {
                margin-left: 20px;
            }
        }
    }
}

.feuerwehren {
    width: 65%;

    .buttons {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
    }
}

mat-card,
mat-expansion-panel {
    margin-bottom: 20px;
}
