:host{
    padding: 2em;
    display: block;
}

@media screen {
    .print {
        display: none;
    }
}

.content {
    width: 100%;

    mat-list {
        mat-list-item {
            span {
                height: 48px;
                width: 100%;
                display: flex;
                align-items: center;
            }
        }
    }
}

[mat-dialog-actions] {
    margin-top: 40px;
}
