<h1 mat-dialog-title>Mangel hinzufügen</h1>
<div class="content" mat-dialog-content>
  <h2>Flasche</h2>
  <mat-form-field appearance="fill">
    <mat-label>Feuerwehr</mat-label>
    <mat-select [(ngModel)]="selectedFeuerwehr" (ngModelChange)="feuerwehrChanged()">
      @for (feuerwehr of stammdaten.feuerwehren; track feuerwehr) {
        <mat-option [value]="feuerwehr">{{ feuerwehr.name }}</mat-option>
      }
    </mat-select>
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Flasche</mat-label>
    <mat-select [(ngModel)]="selectedFlasche">
      @for (flasche of selectedFeuerwehr?.flaschen; track flasche) {
        <mat-option [value]="flasche">Nr. {{ flasche.karteiNr }} ({{ flasche.typenBezeichnung}}, Barcode: {{ flasche.barcode }})</mat-option>
      }
    </mat-select>
  </mat-form-field>
  <h2>Mangel</h2>
  <mat-form-field appearance="fill">
    <mat-label>Typ des Mangels</mat-label>
    <mat-select [(ngModel)]="selectedMangelType">
      @for (type of mangelTypes; track type) {
        <mat-option [value]="type">{{ type.bereich}}: {{ type.title }}</mat-option>
      }
    </mat-select>
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Zusätzliche Informationen</mat-label>
    <textarea matInput [(ngModel)]="selectedMangelNote"></textarea>
  </mat-form-field>
  <h2>Festgestellt von</h2>
  <mat-form-field appearance="fill">
    <mat-label>Person</mat-label>
    <mat-select [(ngModel)]="selectedPerson" [compareWith]="stammdaten.compareById">
      @for (person of stammdaten.personen; track person) {
        <mat-option [value]="person">{{ person.vorname}} {{ person.nachname }}</mat-option>
      }
    </mat-select>
  </mat-form-field>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="close()">Abbrechen</button>
  <button mat-button (click)="add()" cdkFocusInitial>Hinzufügen</button>
</div>
