<div class="center">
  <h2>Neuen Einsatz oder neue Übung erstellen</h2>
  <div class="stepper">
    <mat-card class="step">
      <mat-card-header>
        <mat-card-title>Type</mat-card-title>
        <mat-card-subtitle>Übung oder Einsatz</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <mat-form-field>
          <mat-select [(value)]="newEreignis.type">
            <mat-option value="einsatz">Einsatz</mat-option>
            <mat-option value="uebung">Übung</mat-option>
          </mat-select>
        </mat-form-field>
      </mat-card-content>
    </mat-card>
    <div class="divider"></div>
    <mat-card class="step">
      <mat-card-header>
        <mat-card-title>Beginn des Ereignises</mat-card-title>
        <mat-card-subtitle>Datum und Uhrzeit</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <mat-form-field>
          <input matInput type="datetime-local" [ngModel]="newEreignis.datetimeStart | date:'yyyy-MM-ddTHH:mm'" (ngModelChange)="newEreignis.datetimeStart = $event">
        </mat-form-field>
      </mat-card-content>
    </mat-card>
    <div class="divider"></div>
    <mat-card class="step">
      <mat-card-header>
        <mat-card-title>Personen</mat-card-title>
        <mat-card-subtitle>Füllpersonal</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <mat-form-field>
          <mat-label>Personen</mat-label>
          <mat-select [(ngModel)]="newEreignis.personen" [compareWith]="stammdaten.compareById" multiple>
            @for (person of stammdaten.personen; track person) {
              <mat-option [value]="person">{{ person.vorname }} {{ person.nachname }}</mat-option>
            }
          </mat-select>
        </mat-form-field>
      </mat-card-content>
    </mat-card>
    <div class="divider"></div>
    <mat-card class="step">
      <mat-card-header>
        <mat-card-title>Ort</mat-card-title>
        <mat-card-subtitle>Katastralgemeinde</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <mat-form-field>
          <input matInput [(ngModel)]="newEreignis.ort">
        </mat-form-field>
      </mat-card-content>
    </mat-card>
  </div>
  <div class="start">
    <button mat-raised-button color="warn" (click)="createEreignis(newEreignis)">
      <span>Start </span>
      <mat-icon>east</mat-icon>
    </button>
  </div>
</div>