:host {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

.progress {
    position: fixed;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    background: rgba(255, 255, 255, 0.9); // radial-gradient(rgba(255, 255, 255, 1), rgba(255, 255, 255, 0.6));
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 999;

    h2 {
        margin-top: 20px;
    }
}

.logo {
    box-sizing: border-box;
    height: 80px;
    padding: 1em;
    outline: none;

    path {
        fill: #fff;
    }
}

mat-toolbar {

    mat-toolbar-row {
        height: 100px;
    }

    button[mat-button],
    button[mat-raised-button] {
        font-size: 16px;
        line-height: 49px;
        padding: 0em 1.5em;

        margin: 0em 0.5em;

        mat-icon {
            margin-right: 0.3em;
        }
    }
}

#content {
    display: flex;
    flex: 1;
    padding: 1em;
    // background-color: #3949AB;
    background-color: var(--ffgfuea-primary-darker);
    overflow: auto;
}
