.content {
    display: flex;
    flex-direction: column;
    margin-bottom: 40px;

    mat-card {
        margin-top: 20px;
    }
}

button {
    width: 100%;
    margin-top: 20px;
    text-align: left;
}
