<h1 mat-dialog-title>Unbehobene Mängel!</h1>
<div class="content" mat-dialog-content>
    <mat-card class="mangel" *ngFor="let mangel of offeneMaengel">
        <h4>Offener Mangel</h4>
        <p>Type: <strong>{{mangel.typeBereich}} - {{mangel.typeDescription}}</strong></p>
        <p>Zusätzliche Informationen: <strong>{{ mangel.note ? mangel.note : '-' }}</strong></p>
        <p>Ausgestellt am: <strong>{{ mangel.datetime | date: 'dd.MM.yyyy HH:mm'}} Uhr</strong></p>
        <p>Ausgestellt von: <strong>{{ mangel.person?.vorname }} {{ mangel.person?.nachname }}</strong></p>
    </mat-card>
</div>
<div mat-dialog-actions>
    <button mat-flat-button (click)="cancel()" color="primary">Flasche nicht füllen</button>
    <button mat-flat-button (click)="mangelBehebenAndAdd()" color="primary">Mangel als behoben markieren & Flasche hinzufügen</button>
    <button mat-flat-button (click)="addAnyway()" color="warn">Trotz bestehenden Mangel füllen</button>
</div>
