<h1 class="page-title">Ereignisse</h1>
@for (ereignis of ereignisse.list; track ereignis) {
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>{{ ereignis?.type == EreignisType.Uebung ? 'Übung' : 'Einsatz' }}{{ ereignis?.ort ? ' in '+ ereignis?.ort : '' }}</mat-panel-title>
      <mat-panel-description>{{ ereignis.datetimeStart | date: 'dd.MM.yyyy' }}</mat-panel-description>
    </mat-expansion-panel-header>
    <div class="content">
      <div class="stammdaten">
        <div class="actions">
          <button mat-raised-button color="primary" (click)="openPrintReportings(ereignis)">Berichte drucken</button>
          <button mat-raised-button (click)="openEditEreignis(ereignis)">Ereignis bearbeiten</button>
        </div>
        <table>
          <tbody>
            <tr>
              <th>Type:</th>
              <td>{{ ereignis.type == EreignisType.Uebung ? 'Übung' : 'Einsatz' }}</td>
            </tr>
            <tr>
              <th>Ort:</th>
              <td>{{ ereignis.ort }}</td>
            </tr>
            <tr>
              <th>Beginn:</th>
              <td>{{ ereignis.datetimeStart | date: 'dd.MM.yyyy HH:mm' }} Uhr</td>
            </tr>
            <tr>
              <th>Ende:</th>
              <td>{{ ereignis.datetimeEnd | date: 'dd.MM.yyyy HH:mm' }}{{ ereignis.datetimeEnd ? ' Uhr' : 'noch nicht beendet' }}</td>
            </tr>
            <tr>
              <th>Füllersonal:</th>
              <td>
                @for (person of ereignis.personen; track person; let last = $last) {
                  <span>{{ person.vorname }} {{ person.nachname }}{{ last ? '' : ', ' }}</span>
                }
              </td>
            </tr>
            <tr>
              <th>Anzahl der Füllungen:</th>
              <td>{{ ereignis.fuellungen.length }}</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="fuellungen">
        <h2>Füllungen</h2>
        <mat-list>
          @for (fuellung of ereignis?.fuellungen; track fuellung) {
            <ffg-fuellung-item [fuellung]="fuellung"></ffg-fuellung-item>
          }
        </mat-list>
      </div>
    </div>
  </mat-expansion-panel>
}
