@import '~@angular/material/theming';

$app-primary: mat-palette($mat-indigo);
$app-accent: mat-palette($mat-pink);

$primary: mat-color($app-primary);
$accent: mat-color($app-accent);

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.toolbar-spacer {
    flex: 1 1 auto;
}

table[mat-table] {
    width: 100%;
}

h1.page-title {
    margin-top: 0px;
    margin-bottom: 50px;
    color: #fff;
}

[hidden] {
    display: none !important;
}

@media screen {
    .print {
        display: none;
    }
}

@media print {
    .print {
        display: block;
        position: relative;
    }
}


.print {
    font-family: 'Cascadia Code', monospace, sans-serif;

    #print-content {
        width: 100%;
        height: auto;
        overflow: visible;
    }

    h1,
    h2,
    h3 {
        font-weight: bold;
        font-family: inherit;
    }

    h1 {
        font-size: 6mm;
    }

    h2 {
        font-size: 5mm;
        margin-top: 10mm;
    }

    h3 {
        font-size: 4mm;
    }

    p,
    th,
    td {
        font-size: 3.5mm;
    }

    table {
        width: 100%;
        border-collapse: collapse;
        page-break-inside: avoid;

        tr {
            border-top: 1px solid #000;
            border-bottom: 1px solid #000;

            th {
                font-weight: bold;
                text-align: left;
            }

            td,
            th {
                padding: 2mm 0mm;
            }
        }
    }

    .report {
        page-break-after: always;
        //page-break-inside: avoid;
        position: relative;

        * {

            position: relative;
        }

        .header {
            padding-top: 4mm;
            padding-bottom: 4mm;

            h1 {
                margin-bottom: 3mm;

                span {
                    font-weight: normal;
                }
            }

            p {
                font-size: 5mm;
                margin-bottom: 10mm;
            }

            table {

                tr {

                    th:nth-child(1),
                    td:nth-child(1) {
                        width: 9cm;
                    }
                }
            }
        }

        .fuellung {
            page-break-inside: avoid;
            margin-bottom: 10mm;

            table {

                tr {

                    th:nth-child(1),
                    td:nth-child(1) {
                        width: 50mm;
                    }

                    th:nth-child(2),
                    td:nth-child(2) {
                        width: 50mm;
                    }

                    th:nth-child(3),
                    td:nth-child(3) {
                        width: 15mm;
                    }

                    th:nth-child(4),
                    td:nth-child(4) {
                        width: 30mm;
                    }

                    th:nth-child(5),
                    td:nth-child(5) {
                        width: 25mm;
                    }
                }
            }
        }

        .unterschrift {
            page-break-inside: avoid;
            width: 40%;
            margin-top: 20px;
            padding-top: 120px;

            span {
                display: block;
                padding-top: 10px;
                border-top: 2px #000 solid;
            }
        }
    }

}
