@use 'sass:map';

@use '@angular/material' as mat;

$ffgfuea-primary: mat.m2-define-palette(mat.$m2-indigo-palette);
$ffgfuea-accent: mat.m2-define-palette(mat.$m2-pink-palette, A200, A100, A400);
$ffgfuea-warn: mat.m2-define-palette(mat.$m2-red-palette);

$ffgfuea-theme: mat.m2-define-light-theme((
  color: (
    primary: $ffgfuea-primary,
    accent: $ffgfuea-accent,
    warn: $ffgfuea-warn,
  )
));

$ffgfuea-primary-color: mat.get-theme-color($ffgfuea-theme, primary, default);
$ffgfuea-primary-color-darker: mat.get-theme-color($ffgfuea-theme, primary, 600);

:root{
    --ffgfuea-primary: #{$ffgfuea-primary-color};
    --ffgfuea-primary-darker: #{$ffgfuea-primary-color-darker};
}

@include mat.core(); 

html,
body {
    height: 100%;
    @include mat.all-component-themes($ffgfuea-theme);
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.toolbar-spacer {
    flex: 1 1 auto;
}

mat-card {
    padding: 1.5em;
}

button[mat-button],
button[mat-raised-button]{
    height: auto !important;
    min-height: 36px;
}

table[mat-table] {
    width: 100%;
}

h1.page-title {
    margin-top: 0px;
    margin-bottom: 50px;
    color: #fff;
}

[hidden] {
    display: none !important;
}

@media screen {
    .print {
        display: none;
    }
}

@media print {
    .print {
        display: block;
        position: relative;
    }
}


.print {
    font-family: 'Cascadia Code', monospace, sans-serif;

    #print-content {
        width: 100%;
        height: auto;
        overflow: visible;
    }

    h1,
    h2,
    h3 {
        font-weight: bold;
        font-family: inherit;
    }

    h1 {
        font-size: 6mm;
    }

    h2 {
        font-size: 5mm;
        margin-top: 10mm;
    }

    h3 {
        font-size: 4mm;
    }

    p,
    th,
    td {
        font-size: 3.1mm;
    }

    table {
        width: 100%;
        border-collapse: collapse;

        tr {
            border-top: 1px solid #000;
            border-bottom: 1px solid #000;

            th {
                font-weight: bold;
                text-align: left;
            }

            td,
            th {
                padding: 2mm 0mm;
            }
        }
    }

    .report {
        page-break-after: always;
        position: relative;

        * {
            position: relative;
        }

        .inner-report {
            page-break-inside: avoid;
        }

        .header {
            padding-top: 4mm;
            padding-bottom: 4mm;
            page-break-inside: avoid;

            h1 {
                margin-bottom: 3mm;

                span {
                    font-weight: normal;
                }
            }

            p {
                font-size: 5mm;
                margin-bottom: 10mm;
            }

            table {

                tr {

                    th:nth-child(1),
                    td:nth-child(1) {
                        width: 9cm;
                    }
                }
            }
        }

        .fuellung {
            page-break-inside: avoid;
            margin-bottom: 10mm;

            table {

                tr {

                    th:nth-child(1),
                    td:nth-child(1) {
                        width: 25mm;
                    }

                    th:nth-child(2),
                    td:nth-child(2) {
                        width: 32mm;
                    }

                    th:nth-child(3),
                    td:nth-child(3) {
                        width: 58mm;
                    }

                    th:nth-child(4),
                    td:nth-child(4) {
                        width: 65mm;
                    }
                }
            }
        }

        .unterschrift {
            page-break-inside: avoid;
            width: 40%;
            margin-top: 20px;
            padding-top: 120px;

            span {
                display: block;
                padding-top: 10px;
                border-top: 2px #000 solid;
            }
        }
    }

}
